.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  height: 95vh;
}

.RichEditor-container {
  border-top: 1px solid #ddd;
  cursor: text;
  height: 85vh;
  overflow-y: scroll;
}

.RichEditor-editor {
  width: auto;
  max-width: 8.5in;
  min-height: 11in;
  padding: 0.5in;
  margin: 0.25in auto;
  border: 1px #ddd solid;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', monospace;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

/* CUSTOM BLOCK STYLES */

.RichEditor-editor .RichEditor-act .public-DraftStyleDefault-ltr {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 24px;
}

.RichEditor-editor .RichEditor-scene .public-DraftStyleDefault-ltr {
  text-align: center;
  text-decoration: underline;
  margin-top: 18px;
}

.RichEditor-editor .RichEditor-character .public-DraftStyleDefault-ltr {
  text-transform: uppercase;
  margin-top: 12px;
}

.RichEditor-editor .RichEditor-dialogue .public-DraftStyleDefault-ltr {
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 6px;
}
